<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/guru.css"
          th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<h1>Hello</h1>

<h2>what? <span th:text="*{message}"></span></h2>
<h2>what? <span th:text="*{page.pageTitle}"></span></h2>
<h3>editor? <span th:text="*{page.editorId}"></span></h3>
<div th:attr="__*{page.editorId}__">
<!-- TODO use JSON output variant for editorId and maybe use prerpocessed for-each to acutually get th:attr="a=b,c=d,e=f" see also https://github.com/thymeleaf/thymeleaf/issues/392-->
<!-- otherwise just add a new template for editorIds using th:utext and just throw out the stuff as html string -->
	<div th:each="sec,iterStat : ${page.sections}">
	    <div>template to load: <span th:text="*{sec.sectionTemplate}"></span></div>
	    <div th:include="sectionFragments :: *{sec.sectionTemplate}" th:with="content=${sec}">should be replced by section fragment</div>
	</div>
</div>
</body>
</html>
