<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="mainSection">
    <h2>main section template</h2>
    <p><span th:text="${content.text}">Placeholder text 1</span></p>
</div>

<div th:fragment="smallSection">
    <h3>small section template</h3>
    <p th:include="::header(myTitle =${content.text})"></p>
</div>

<div th:fragment="header(myTitle)">
    <b th:text="${title}"></b>
</div>

<!-- dynamic templates are prerendered by a service, we only insert the prerendered html here -->
<div th:fragment="dynamic">
	<div th:utext="${content.markup}" th:remove="tag"></div>
</div>

</body>
</html>
